<div style="text-align: right; margin-bottom: 20px;">
  <button (click)="signOut()" style="background-color: red; color: white; padding: 5px 10px; border: none; cursor: pointer;">
    Sign Out
  </button>
</div>

<div class="timesheet-container">
  <h2>Timesheet Records</h2>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Login Time</th>
        <th>Logout Time</th>
        <th>Total Hours</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let timesheet of timesheets; let i = index">
        <td>
          <input type="date" [(ngModel)]="timesheet.registerDate" [readonly]="editIndex !== i" [disabled]="true" >
        </td>
        <td>
          <input type="time" [(ngModel)]="timesheet.loginTime" [readonly]="editIndex !== i">
        </td>
        <td>
          <input type="time" [(ngModel)]="timesheet.logoutTime" [readonly]="editIndex !== i">
        </td>
        <td>
          <input type="number" [(ngModel)]="timesheet.totalLoggedHours" [readonly]="editIndex !== i" [disabled]="true">
        </td>
        <td>
          <button *ngIf="editIndex !== i" (click)="enableEdit(i)">Edit</button>
          <button *ngIf="editIndex === i" (click)="saveEdit(timesheet)" style="color:green;">Save</button>
          <button (click)="deleteTimesheet(timesheet.id)"  style="color: red;">Delete</button>
        </td>
      </tr>
      <tr [formGroup]="newTimesheetForm">
        <td>
          <input type="date" formControlName="registerDate" [max]="today">
          <small *ngIf="newTimesheetForm.get('registerDate')?.hasError('required') && newTimesheetForm.get('registerDate')?.touched" class="error" style="color: red;">
           Date is required
          </small>
        </td>
        <td>
          <input type="time" formControlName="loginTime">
          <small *ngIf="newTimesheetForm.get('loginTime')?.hasError('required') && newTimesheetForm.get('loginTime')?.touched" class="error" style="color: red;">
            loginTime is required
          </small>
        </td>
        <td>
          <input type="time" formControlName="logoutTime">
          <small *ngIf="newTimesheetForm.get('logoutTime')?.hasError('required') && newTimesheetForm.get('logoutTime')?.touched" class="error" style="color: red;">
            logoutTime is required
          </small>
        </td>
        <td><input type="number" formControlName="totalLoggedHours"></td>
        <td><button (click)="addNewTimesheet()" style="color: blue;">Add</button></td>
      </tr>
    </tbody>
  </table>
  <div>
    <small *ngIf="newTimesheetForm.hasError('logoutAfterLogin')" class="error" style="color: red;" >Logout time must be after login time</small><br>
  </div>
</div>

<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>